h1, h2, h3{
  font-family:"Playfair Display", sans-serif ;
}
p{
  font-family: "Inter", sans-serif;
}

#album-image {
  position: static;
  margin: 0 auto;
  -webkit-animation: bounce 3s ease-in-out infinite;
  animation: bounce 3s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  0%       { transform: translateY(0); }
  50%      { transform: translateY(-20px); }
  100%     { transform: translateY(0); }
}

@keyframes bounce {
  0%       { transform: translateY(0); }
  50%      { transform: translateY(-20px); }
  100%     { transform: translateY(0); }
}