#album-image {
  position: static;
  margin: 0 auto;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%       { transform: translateY(-5px); }
  25%, 75% { transform: translateY(-15px); }
  50%      { transform: translateY(-20px); }
  100%     { transform: translateY(0); }
}

@keyframes bounce {
  0%       { transform: translateY(-5px); }
  25%, 75% { transform: translateY(-15px); }
  50%      { transform: translateY(-20px); }
  100%     { transform: translateY(0); }
}